@media screen and (max-width: 575px) {
  .cardDiv {
    display: flex;
    /* width: 45%; */
  }

  #data-panel {
    display: flex;
    justify-content: center;
  }

  .card-title {
    font-size: 1em;
  }

  #search-input {
    width: 150px;
    margin-right: 10px;
  }
}